.container-404 {
  padding-top: 50px;
}
 hr {
  background-color: #4481c3;
  color: #4481c3;
  border: none;
  height: 2px;
 }
.header-404 {
  padding-top: 20px;
}

a.a-404 {
  text-decoration: underline;
}
